//
//jury
//

.left-side
	
	&.awwards

		.content
			position: absolute
			height: 100%
			width: 100%
			
			.skew-div
				width: 410px
				height: 300px
				top: 50%
				left: 50%
				margin-top: -150px
				margin-left: -150px
				position: absolute
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
				font-weight: 300


				h3
					font-size: 40px
					color: #fff
					font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
					font-weight: 300

					span
						display: block

				p
					color: #fff
					font-size: 12px
					line-height: 20px
					+transform( skew(-20deg))
					margin-left: -50px
					letter-spacing: 1px
					span
						display: block
						text-transform: uppercase

				.download-form
					display: inline-block
					background: #01ffde
					+transform( skew(-20deg))
					padding: 25px 30px
					margin-left: -115px
					position: absolute
					text-decoration: none
					margin-top: 15px

					span
						+transform( skew(20deg))
						color: #000
						font-weight: 600
						font-size: 18px
						display: block
						background: url('../images/download-ico.png') no-repeat left center
						padding-left: 50px

				.eprogram-form
					display: inline-block
					background: #e5fc52
					+transform( skew(-20deg))
					padding: 12px 15px 16px 20px
					margin-left: 116px
					width: 280px
					position: absolute
					text-decoration: none
					margin-top: 15px

					span
						+transform( skew(20deg))
						color: #000
						font-weight: 600
						font-size: 15px
						display: block
						background: url('../images/download-ico-2.png') no-repeat left center
						padding-left: 50px
						padding-top: 5px
						







.right-side

	&.awwards

		.content

			.skew-div
				background: #01ffde

				.event-detail
					position: absolute
					top: 20%
					margin-left: 10px
					color: #000
					font-size: 16px

					.wraper-detail
						margin-bottom: 35px

						h3
							font-size: 13px
							font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
							color: #090e3f
							font-weight: bold
							text-transform: uppercase

						ul
							padding: 0
							position: relative
							left: -85px

							li
								list-style: none
								font-weight: bold
								font-size: 13px
								width: 110%
								margin-bottom: 8px

								.left-tagline
									display: inline-block
									vertical-align: top
									color: #fff
									text-transform: uppercase
									width: 60px
									text-align: right

								.right-tagline
									display: inline-block
									vertical-align: top
									margin-left: 22px
						&.bottom
							margin-bottom: 25px

							&-list

								ul
									li
										margin-bottom: 3px

										.download-form
											display: block
											background: #ff00ba
											+transform( skew(0deg))
											padding: 25px 30px
											left: 150px
											position: absolute
											text-decoration: none
											margin-top: 15px

											span
												+transform( skew(0deg))
												color: #fff
												font-weight: 600
												font-size: 26px
												display: block
												background: url('../images/download-ico.png') no-repeat left center
												padding-left: 50px

					.wraper-sign
						margin-top: 30px
						&:after
							content: ""
							position: absolute
							width: 7px
							height: 257px
							right: -10px
							top: 210px
							background: url(../images/name-separator.png) no-repeat

						.qoute-jury

							+transform( skew(20deg))
							font-style: italic
							text-align: right

							p
								font-size: 30px
								line-height: 32px
								font-weight: 300
								width: 255px
								padding-top: 10px 
								padding-right: 20px
								display: inline-block
								border-top: 1px solid #000

						.name-jury
							position: absolute
							right: -200px
							padding-bottom: 10px
							border-bottom: 1px solid #000

							span
								font-size: 16px
								color: #000
								font-weight: 300

//mobile 
.mobile-page-awwards
	background: #090e3f
	border: 18px solid #deff00
	width: 100%
	height: 170%
	position: absolute
	padding: 18px

	@media (min-width: 500px) and (max-width: 750px)
		height: 832px
	@media (max-width: 325px)
		height: 200% 


.mobile-skew-awwards
	height: 90%
	left: 0
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ff4c29

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 20px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		.content-inner
			h3
				color: #fff
			

		.download-form
			display: inline-block
			background: #090e3f
			padding: 12px
			border: 2px solid #deff00
			text-decoration: none
			margin: 0px 0 10px 0
			height: 62px
			vertical-align: top
			@media (max-width: 325px)
				width: 190px
				text-align: center

			span
				color: #fff
				font-weight: 600
				font-size: 12px
				display: block


	.content-inner
		.front
			display: inline-block
			color: #fff
			display: block
			text-decoration: underline

		h3
			color: #deff00

		hr
			margin: 2px 0
















