//
//chairman page
//
.left-side-category
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ffd800
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.wraper-inner-categories
				position: absolute
				width: 100%
				left: 15px
				top: 30%
				+transform( skew(20deg))


				h3
					color: #000
					font-size: 50px
					font-weight: 300
					font-style: italic
					margin-bottom: 20px
					margin-top: 0
					text-align: left
					text-transform: uppercase

				.left-categories
					width: 50%
					display: inline-block
					text-align: right
					padding-right: 25px
					+transform( skew(-20deg))
					background: url('../images/name-separator.png') no-repeat right top 
					vertical-align: top
					position: absolute
					left: -40px
					text-transform: uppercase

					.small-title-part
						border-bottom: 1px solid #000
						padding-bottom: 5px
						font-weight: bold
						font-size: 13px
						text-transform: uppercase

					ul
						padding: 0
						

						li
							list-style: none
							font-size: 13px
							text-transform: uppercase
					
				.right-categories
					width: 54%
					display: inline-block
					text-align: left
					padding-right: 25px
					+transform( skew(-20deg))
					position: absolute
					top: 150px
					left: 38%
					text-transform: uppercase


					.small-title-part
						border-bottom: 1px solid #000
						padding-bottom: 5px
						font-weight: bold
						font-size: 13px
						text-transform: uppercase

					ul
						padding: 0
						

						li
							list-style: none
							font-size: 13px
							text-transform: uppercase 


.right-side-category
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 40%
		width: 100%

		.wraper-inner-categories
			position: absolute
			width: 100%
			left: 15px
			top: 30%

			h3
				color: #000
				font-size: 50px
				font-weight: 300
				font-style: italic
				margin-bottom: 20px
				margin-top: 0
				text-align: left

			.left-categories
				width: 50%
				display: inline-block
				text-align: right
				padding-right: 25px
				+transform( skew(-20deg))
				background: url('../images/name-separator.png') no-repeat right top 
				vertical-align: top
				position: absolute
				left: -40px


				.small-title-part
					border-bottom: 1px solid #000
					padding-bottom: 5px
					font-weight: bold
					font-size: 13px
					width: 80% 
					display: inline-block
					text-transform: uppercase

				ul
					padding: 0
					

					li
						list-style: none
						font-size: 13px
						text-transform: uppercase
				
			.right-categories
				width: 45%
				display: inline-block
				text-align: left
				padding-left: 15px
				+transform( skew(-20deg))
				position: absolute
				top: 70px
				left: 45%
				

				.small-title-part
					border-bottom: 1px solid #000
					padding-bottom: 5px
					font-weight: bold
					font-size: 13px
					display: inline-block


				ul
					padding: 0
					

					li
						list-style: none
						font-size: 13px

			.wraper-bottom-cat
				position: relative
				top: 60px
				display: inline-block
				width: 62%

//mobile 
.mobile-page-category
	background: #00ffd8
	border: 18px solid #ff00ba
	width: 100%
	height: 180%
	position: absolute
	padding: 18px

	@media (min-width: 500px) and (max-width: 750px)
		height: 1082px
	@media (max-width: 325px)
		height: 285%



.mobile-skew-category
	height: 762px
	left: -16%
	top: 0
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ffd800
	@media (min-width: 500px) and (max-width: 750px)
		left: 100px
	@media (max-width: 325px)
		left: -26%

.content-mobile
	position: relative
	width: 100%
	height: auto
	padding: 18px
	z-index: 300
	

	.logo-mobile-disturbe
		width: 100%
		text-align: center
		position: relative
		z-index: 350

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		z-index: 350
		position: relative

		.wraper-jury-content
			h3
				color: #000
				font-size: 30px
				font-weight: 300
				font-style: italic
				margin-bottom: 0
				margin-top: 0
				text-align: left
				margin-bottom: 10px
				margin-top: 0px
				text-transform: uppercase

			p
				font-size: 12px
				color: #000
				font-weight: 300

			ol
				padding-left: 20px
				li
					list-style: decimal
					text-transform: uppercase

	.image-mobile-jury
		background: url('../images/jury-image-mobile.png') no-repeat
		height: 275px
		width: 300px
		background-size: cover
		position: absolute
		bottom: 0
		right: 0
		text-indent: -9999px
		z-index: 300



















