//
//entry-page
//

.left-side
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif

	.main-download
		position: absolute
		right: -15px
		top: 50%
		height: 290px
		margin-top: -145px

		h2
			color: #fff
			font-size: 60px
			font-weight: 300
			font-style: italic
			margin-bottom: 0

		.line-separator
			background: #000
			height: 1px
			left: -41px
			position: absolute
			display: block
			color: #000
			border: none
			margin: 5px 0
			width: 270px

		.content-donwload-media
			text-align: left
			color: #fff
			margin-right: 35px
			ul
				padding: 0
				li
					a
						color: #fff
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						font-size: 14px

		.skew-text
			
			position: absolute
			width: 360px
			right: 20px
			text-align: right

			p
				color: #fff
				font-size: 14px
				font-weight: 300
				margin: 15px 0
				font-style: italic


			a
				display: inline-block
				background: #ff00ba
				+transform( skew(-20deg))
				padding: 25px 30px
				right: 95px
				position: absolute
				text-decoration: none

				span
					+transform( skew(20deg))
					color: #fff
					font-weight: 600
					font-size: 26px
					display: block
					background: url('../images/download-ico.png') no-repeat left center
					padding-left: 50px

			
				
				


.right-side
	width: 50%
	right: 0
	height: 100%
	position: absolute

	&.media-release

		.content
		
			.skew-div
				background: #6900b3

				.media-wraper
					position: absolute
					top: 40%
					padding: 0 20px

					p
						color: #fff
						font-size: 16px
						padding: 0 10px

	.content

		.skew-div
			height: 100%
			width: 530px
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ffd800
			+transform( skew(-20deg))

			&:before
				content: ""
				position: absolute
				width: 297px
				left: -157px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.content-inner
				position: absolute
				top: 40%
				left: 65px
				margin-top: 52px
				+transform( skew(20deg))

				h3
					font-size: 14px
					font-weight: bold
					color: #000
					text-transform: uppercase
					margin: 0


				hr
					background: #000
					height: 1px
					left: -10px
					position: absolute
					display: block
					color: #000
					border: none
					margin: 10px 0
					width: 190px

				ul
					padding: 0
					margin: 20px 0

					li
						list-style: none
						font-weight: bold
						font-size: 14px
						margin-bottom: 5px
						position: relative
						color: #000
						font-style: italic

//mobile 
.mobile-page-entry
	background: #0c21e2
	border: 18px solid #3b3b3b
	width: 100%
	height: 120%
	position: absolute
	padding: 18px

	@media (min-width: 500px) and (max-width: 750px)
		height: 160%
	@media (max-width: 325px)
		height: 130%


.mobile-skew-entry
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ffd800

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text 
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #000
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #000
			font-weight: 300

		.content-inner
			h3
				font-size: 14px
				font-weight: bold
				color: #000
				text-transform: uppercase
				margin: 0
			hr
				background: #000
				height: 1px
				display: block
				color: #000
				border: none
				margin: 10px 0
				width: 190px

			ul
				padding: 0
				li
					list-style: none
					color: #fff

		a.download
			display: inline-block
			background: #ff00ba
			padding: 15px
			text-decoration: none
			margin: 0px 0 10px 0

			span
				color: #fff
				font-weight: 600
				font-size: 14px
				display: block

//mobile  after
.after-page
	.mobile-page-after
		background: #deff00
		border: 18px solid #ff67d6
		width: 100%
		height: 100%
		position: absolute
		padding: 18px


	.mobile-skew-after
		height: 90%
		width: 200px
		position: absolute
		+transform( skew(-20deg))
		z-index: 300
		background: #00ff30

	.content-mobile
		position: absolute
		width: 100%
		height: 100%
		padding: 18px
		z-index: 300

		.logo-mobile-disturbe
			width: 100%
			text-align: center
			top: 50%
			position: absolute
			margin-top: -114px

			@media (max-width: $screen-sm-min)
				position: relative

			img
				width: 100%
				margin: 0 auto

			.entry-link-mobile
				display: block
				position: absolute
				right: 10px
				bottom: 10px
				color: #000
				font-weight: bold

		.content-text
			padding: 10px 20px 
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			h3
				color: #000
				font-size: 20px
				font-weight: 300
				font-style: italic
				margin-bottom: 0
				margin-top: 0
				text-align: left
				margin-bottom: 10px
				margin-top: 0px

			p
				font-size: 12px
				color: #000
				font-weight: 300


		.content-inner
			.front
				display: inline-block
				color: #fff
				display: block

			hr
				margin: 2px 0

















							














