//
//chairman page
//
.left-side-gallery
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ff00d8
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.title-page
				position: absolute
				right: 15px
				top: 30%
				height: 100px
				margin-top: -100px
				+transform( skew(20deg))


				h3
					color: #fff
					font-size: 60px
					font-weight: 300
					font-style: italic
					margin-bottom: 0
					margin-top: 0
					text-align: right

.right-side-gallery
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 30%

		.gallery-detail
			position: absolute
			left: -340px

			.lSSlideWrapper
				width: 607px

				.lightSlider
					

					img
						width: 100%

	.gallery-wrap
		position: absolute
		left: -340px

		&:before
			content: ""
			background: url('../images/gallery-bg-text.png') no-repeat
			width: 320px
			position: absolute
			height: 59px
			background-size: cover
			top: 50px
			right: -145px

		&:after
			content: ""
			background: url('../images/bg-after-gallery.png') no-repeat
			width: 316px
			position: absolute
			height: 184px
			background-size: cover
			bottom: -25px
			right: -218px

			@media screen and (-webkit-min-device-pixel-ratio:0)
				bottom: 87px
				right: -305px

		.gallery-inner
			padding-right: 105px

		.gallery-main
			width: 607px
			max-width: 100%
			overflow: hidden
			position: relative
			z-index: 300
			height: 417px
			transition-duration: 400ms
			transition-timing-function: ease

			img
				width: 100%
				display: block
				-o-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				-moz-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				-webkit-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)


			.gallery-item
				height: 417px

		.gallery-thumb
			position: absolute !important
			right: 0
			top: 0
			margin-left: 5px

			ul
				list-style: none outside none
				padding-left: 0
				margin: 0
				width: 100px
				height: 260px
				position: relative

			li
				width: 100%
				height: 52px
				float: left
				border-radius: 5px
				position: absolute
				left: 32px
				-moz-transition: all 0.4s
				-o-transition: all 0.4s
				-webkit-transition: all 0.4s
				transition: all 0.4s
				margin-left: 70px

				img
					display: block
					height: auto
					max-width: 100%
					-o-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					-moz-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					-webkit-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)

				&:hover
					cursor: pointer

				&:hover,
				&.active
					-ms-transform: scale(1.2)
					-webkit-transform: scale(1.2)
					transform: scale(1.2)
					z-index: 100

			li.image0
				top: -69px
				z-index: 1
				opacity: 0
				visibility: hidden

				&.down
					top: -17px
					z-index: 0
					opacity: 1
					visibility: visible

			li.image1
				top: -17px

				&.up
					top: -69px
					z-index: 1
					opacity: 0
					visibility: hidden

				&.down
					top: 109px

			li.image2
				top: 109px

				&.up
					top: -17px

				&.down
					top: 159px

			li.image3
				top: 159px

				&.up
					top: 109px

				&.down
					top: 209px

			li.image4
				top: 209px

				&.up
					top: 159px

				&.down
					top: 259px

			li.image5
				top: 259px

				&.up
					top: 209px

				&.down
					top: 309px
					opacity: 0
					visibility: hidden

			li.image6
				top: 309px
				opacity: 0
				visibility: hidden

				&.up
					top: 259px
					opacity: 1
					visibility: visible

			@media screen and (-webkit-min-device-pixel-ratio:0)
				li.image0
					top: -69px
					left: -56px
					z-index: 1
					opacity: 0
					visibility: hidden

					&.down
						top: -17px
						left: 30px
						z-index: 0
						opacity: 1
						visibility: visible

				li.image1
					top: -17px
					left: 30px

					&.up
						top: -69px
						left: -56px
						z-index: 1
						opacity: 0
						visibility: hidden

					&.down
						left: -10px
						top: 109px

				li.image2
					left: -10px
					top: 109px

					&.up
						top: -17px
						left: 30px

					&.down
						left: -28px
						top: 159px

				li.image3
					left: -28px
					top: 159px

					&.up
						left: -10px
						top: 109px

					&.down
						left: -46px
						top: 209px

				li.image4
					left: -46px
					top: 209px

					&.up
						left: -28px
						top: 159px

					&.down
						left: -64px
						top: 259px

				li.image5
					left: -64px
					top: 259px

					&.up
						left: -46px
						top: 209px

					&.down
						left: -82px
						top: 309px
						opacity: 0
						visibility: hidden

				li.image6
					left: -82px
					top: 309px
					opacity: 0
					visibility: hidden

					&.up
						left: -64px
						top: 259px
						opacity: 1
						visibility: visible

		/* gallery nav */
		.gallery-nav > a
			width: 32px
			display: block
			top: 50%
			height: 32px
			background-image: url("../images/controls.png")
			cursor: pointer
			position: absolute
			z-index: 99
			margin-top: -16px
			opacity: 0.5
			text-indent: -9999px
			-webkit-transition: opacity 0.35s linear 0s
			transition: opacity 0.35s linear 0s
		
		.gallery-nav > a:hover
			opacity: 1
		
		.gallery-nav > .gallery-nav-prev
			background-position: 0 -31px
			left: 50%
			margin-left: 24px
			margin-top: 0
			bottom: auto
			top: -36px
		
		.gallery-nav > .gallery-nav-next
			background-position: 31px -31px
			margin-left: -69px
			margin-top: 0
			bottom: -22px
			top: auto
			left: 40%!important
		
		.gallery-nav > a.disabled
			pointer-events: none


	//mobile 
.__old
	.mobile-page-gallery
		background: #1300ff
		border: 18px solid #282828
		width: 100%
		height: 100%
		position: absolute
		padding: 18px


	.mobile-skew-gallery
		height: 90%
		width: 200px
		position: absolute
		+transform( skew(-20deg))
		z-index: 300
		background: #ff00da

	.content-mobile
		position: absolute
		width: 100%
		height: 100%
		padding: 18px
		z-index: 300

		.logo-mobile-disturbe
			width: 100%
			text-align: center

			img
				width: 120px
				margin: 0 auto

		.content-text
			padding: 10px 20px
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			h3
				color: #fff
				font-size: 30px
				font-weight: 300
				font-style: italic
				margin-bottom: 0
				margin-top: 0
				text-align: left
				margin-bottom: 10px
				margin-top: 0px

			p
				font-size: 12px
				color: #fff
				font-weight: 300

			.sign-inner
				font-size: 12px
				width: 200px
				height: 61px
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
				color: #fff
				font-weight: 300
				background: url('../images/sign-bg.png') no-repeat right bottom
				background-size: cover
				position: absolute
				left: 100px
				left: 70px
				bottom: -30px

				p
					position: absolute
					right: -13px
					bottom: 6px

				span
					display: block
					font-size: 12px

//mobile 
.mobile-skew-gallery
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ff00d8
	top: -18px

.gallery-mobile
	position: relative

	.content-mobile
		background: #0006ff
		border: 18px solid #000000
		padding: 18px
		z-index: 300

	.gallery-wrap
		position: relative
		z-index: 999
		margin-top: 120px

		&:before
			content: ""
			background: url('../images/gallery-bg-text.png') no-repeat
			width: 320px
			position: absolute
			height: 59px
			background-size: cover
			top: -110px
			left: 50%
			margin-left: -160px

		.gallery-main
			width: 90%
			margin: 0 auto
			overflow: hidden
			position: relative
			z-index: 300
			height: 300px
			transition-duration: 400ms
			transition-timing-function: ease

			img
				height: 100%
				display: inline-block
				-o-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				-moz-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				-webkit-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
				clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)

			.gallery-item
				height: 300px
				text-align: center

		.gallery-thumb
			margin-top: 40px
			padding-bottom: 40px
			padding-top: 20px
			width: 100%
			height: 100px
			position: relative
			overflow: hidden
			text-align: center

			ul
				list-style: none outside none
				padding-left: 0
				margin: 0
				display: inline-block

			li
				width: 100px
				height: 52px
				float: left
				border-radius: 5px
				-moz-transition: all 0.4s
				-o-transition: all 0.4s
				-webkit-transition: all 0.4s
				transition: all 0.4s
				margin-right: -15px
				text-align: center

				img
					display: block
					height: auto
					max-width: 100%
					-o-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					-moz-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					-webkit-clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)
					clip-path: polygon(0 100%, 24% 0, 100% 0, 76% 100%)

				&:hover
					cursor: pointer

				&:hover,
				&.active
					-ms-transform: scale(1.2)
					-webkit-transform: scale(1.2)
					transform: scale(1.2)
					z-index: 100

		/* gallery nav */
		.gallery-nav > a
			width: 32px
			display: block
			top: 50%
			height: 32px
			background-image: url("../images/controls.png")
			cursor: pointer
			position: absolute
			z-index: 99
			margin-top: -16px
			opacity: 0.5
			text-indent: -9999px
			-webkit-transition: opacity 0.35s linear 0s
			transition: opacity 0.35s linear 0s
		
		.gallery-nav > a:hover
			opacity: 1
		
		.gallery-nav > .gallery-nav-prev
			background-position: 0 -31px
			left: 50%
			margin-left: 24px
			margin-top: 0
			bottom: auto
			top: -36px
		
		.gallery-nav > .gallery-nav-next
			background-position: 31px -31px
			margin-left: -69px
			margin-top: 0
			bottom: 100px
			top: auto
			left: 40%!important
		
		.gallery-nav > a.disabled
			pointer-events: none


