//
//jury
//

.overflow-desktop
	overflow: hidden
	@media (max-width: $screen-sm-min)
		overflow: auto


.left-side

	.content

		.main-jury-image

			.jury-image
				width: 504px
				height: 595px
				position: absolute
				background-size: contain
				bottom: 0
				right: -34px
				z-index: 10

				&.anna
					@media (min-width: 1920px)
						height: 875px!important
						right: -86px
					@media (min-width: 2440px)
						right: 15px
				&.christine
					right: -14px
					@media (min-width: 1920px)
						height: 875px!important
						right: -54px
					@media (min-width: 2440px)
						right: 25px

				&.eugene
					right: -14px
					@media (min-width: 1920px)
						height: 875px!important
						right: -54px
					@media (min-width: 2440px)
						right: 25px

				&.franches
					right: -14px
					@media (min-width: 1920px)
						height: 875px!important
						right: -54px
					@media (min-width: 2440px)
						right: 25px

						

				@media (min-width: 1920px)
					width: 744px
					height: 875px
					right: -49px

				img
					width: 100%


.right-side

	&.jury
	

		.content

			.skew-div
				background: #c600ff
				&:before
					content: ""
					background: url("../images/buble.png") no-repeat
					width: 500px
					height: 500px
					position: absolute
					left: -462px
					background-size: cover
					z-index: 7
					top: 20% 

				.main-tagline
					position: absolute
					top: 30%
					margin-left: 20px
					color: #000
					font-size: 16px

					&.serene
						top: 25%
						.wraper-sign
							.qoute-jury
								p
									font-size: 18px
									line-height: 19px
					&.frances
						p
							font-size: 12px
							@media (max-width: 1920)
								font-size: 14px
						.wraper-sign
							margin-top: 0

							.name-jury
								bottom: 20px

					




					h3
						font-size: 34px
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						margin-bottom: 5px
					h2
						font-size: 20px
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						font-weight: 300
						margin: 0 0 10px 0

					p
						font-size: 16px

					.other-jury
						text-align: right

						ul
							padding: 0
							margin-right: 20px
							margin-top: 20px
							li
								list-style: none
								display: inline-block
								margin-left: 15px
								a
									text-transform: uppercase
									color: #000


					.wraper-sign
						margin-top: 30px
						&:after
							content: ""
							position: absolute
							width: 7px
							height: 257px
							right: -10px
							top: 210px
							background: url(../images/name-separator.png) no-repeat

						.qoute-jury

							+transform( skew(20deg))
							font-style: italic
							text-align: right
							display: none

							p
								font-size: 20px
								line-height: 24px
								font-weight: 300
								width: 255px
								padding-top: 10px 
								padding-right: 20px
								display: inline-block
								border-top: 1px solid #000

						.name-jury
							position: absolute
							right: -110px
							bottom: 0
							padding-bottom: 10px
							background: url("../images/jury-arrow.png") no-repeat right center
							padding-right: 30px
							a
								font-size: 16px
								color: #000
								font-weight: 300
								cursor: pointer

							span
								font-size: 16px
								color: #000
								font-weight: 300

//modal jury
.modal-content
	-webkit-box-shadow: none
	box-shadow: none
	+transform( skew(-20deg))
	border-radius: 0
	padding: 20px
	background: #cfcfcf
	@media (max-width: $screen-sm-min)
		+transform( skew(0deg)) 
		margin-top: 70px


	.modal-header
		padding: 0
		border: none
		.close-modal-jury
			width: 27px
			height: 27px
			position: absolute
			right: 20px
			top: 20px
			text-indent: -9999px
			background: url("../images/close-modal.png") no-repeat
			+transform( skew(20deg))
			background-size: cover
			border: none
			z-index: 4000

			@media (max-width: $screen-sm-min)
				+transform( skew(0deg)) 

	.modal-body
		h2
			margin-top: 0
			color: #000000
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			text-transform: uppercase
			border-bottom: 1px solid #000
			padding-bottom: 10px

		ul
			display: inline-block
			margin-left: 0
			padding: 0
			vertical-align: top
			margin-right: 25px

			li
				list-style: none
				display: block
				font-size: 20px
				margin-bottom: 3px 

				a
					color: #949393
					font-size: 16px



//mobile 
.mobile-page-jury
	background: #00ffd2
	border: 18px solid #00c7d9
	width: 100%
	height: 100%
	position: absolute
	padding: 18px

	&.alfredo
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 920px

	&.micehelle
		height: 850px
		@media (min-width: 500px) and (max-width: 750px)
			height: 700px
		@media (max-width: 325px)
			height: 920px

	&.anna
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.challie
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.christine
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px
	&.garland
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 570px
		@media (max-width: 325px)
			height: 760px

	&.desmond
		height: 1020px
		@media (min-width: 500px) and (max-width: 750px)
			height: 770px
		@media (max-width: 325px)
			height: 1150px

	&.eugene
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.jeslyn
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 760px


	&.susan
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 620px
		@media (max-width: 325px)
			height: 880px

	&.franches
		height: 880px
		@media (min-width: 500px) and (max-width: 750px)
			height: 670px
		@media (max-width: 325px)
			height: 1000px

	&.geoff
		height: 880px
		@media (min-width: 500px) and (max-width: 750px)
			height: 670px
		@media (max-width: 325px)
			height: 1000px

	&.lim
		height: 800px
		@media (min-width: 500px) and (max-width: 750px)
			height: 640px
		@media (max-width: 325px)
			height: 902px
	&.samir
		height: 870px
		@media (min-width: 500px) and (max-width: 750px)
			height: 730px
		@media (max-width: 325px)
			height: 972px

	&.koh
		height: 890px
		@media (min-width: 500px) and (max-width: 750px)
			height: 690px
		@media (max-width: 325px)
			height: 1050px

	&.mark-2
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.elaine
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.marline
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px
	&.maureen
		height: 800px
		@media (min-width: 500px) and (max-width: 750px)
			height: 620px
		@media (max-width: 325px)
			height: 890px
	&.meranda
		height: 850px
		@media (min-width: 500px) and (max-width: 750px)
			height: 640px
		@media (max-width: 325px)
			height: 960px

	&.mayank
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 800px

	&.serene
		height: 830px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 900px
	&.chuan
		height: 930px
		@media (min-width: 500px) and (max-width: 750px)
			height: 700px
		@media (max-width: 325px)
			height: 1010px

	&.ted
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 850px

	&.yenn
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 750px

	&.small-copy
		height: 710px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 750px



.mobile-skew-jury
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #c600ff

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	&.alfredo
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 920px

	&.micehelle
		height: 850px
		@media (min-width: 500px) and (max-width: 750px)
			height: 700px
		@media (max-width: 325px)
			height: 920px

	&.anna
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.challie
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px
	&.garland
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 570px
		@media (max-width: 325px)
			height: 760px
	&.meranda
		height: 850px
		@media (min-width: 500px) and (max-width: 750px)
			height: 640px
		@media (max-width: 325px)
			height: 960px

	&.christine
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.desmond
		height: 1020px
		@media (min-width: 500px) and (max-width: 750px)
			height: 770px
		@media (max-width: 325px)
			height: 1150px

	&.eugene
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.jeslyn
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 760px

	&.elaine
		height: 750px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.susan
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 620px
		@media (max-width: 325px)
			height: 880px

	&.franches
		height: 880px
		@media (min-width: 500px) and (max-width: 750px)
			height: 670px
		@media (max-width: 325px)
			height: 1000px
	&.geoff
		height: 880px
		@media (min-width: 500px) and (max-width: 750px)
			height: 670px
		@media (max-width: 325px)
			height: 1000px
	&.lim
		height: 800px
		@media (min-width: 500px) and (max-width: 750px)
			height: 640px
		@media (max-width: 325px)
			height: 902px
	&.samir
		height: 870px
		@media (min-width: 500px) and (max-width: 750px)
			height: 730px
		@media (max-width: 325px)
			height: 972px
	&.koh
		height: 890px
		@media (min-width: 500px) and (max-width: 750px)
			height: 690px
		@media (max-width: 325px)
			height: 1050px

	&.mark-2
		height: 790px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px

	&.marline
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 590px
		@media (max-width: 325px)
			height: 800px
			
	&.maureen
		height: 800px
		@media (min-width: 500px) and (max-width: 750px)
			height: 620px
		@media (max-width: 325px)
			height: 890px


	&.mayank
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 800px

	&.serene
		height: 830px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 900px

	&.chuan
		height: 930px
		@media (min-width: 500px) and (max-width: 750px)
			height: 700px
		@media (max-width: 325px)
			height: 1010px

	&.ted
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 850px

	&.yenn
		height: 730px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 750px

	&.small-copy
		height: 710px
		@media (min-width: 500px) and (max-width: 750px)
			height: 610px
		@media (max-width: 325px)
			height: 750px



	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		z-index: 350
		position: relative

		.wraper-jury-content
			h3
				color: #000
				font-size: 30px
				font-weight: 300
				font-style: italic
				margin-bottom: 0
				margin-top: 0
				text-align: left
				margin-bottom: 0px
				margin-top: 0px
			h2
				color: #000
				font-size: 20px
				font-weight: 300
				font-style: italic
				margin-top: 5px
				margin-bottom: 10px
				text-align: left
				&.iphone-5-small
					font-size: 18px
					@media (max-width: 325px)
						font-size: 15px


			p
				font-size: 12px
				color: #000
				font-weight: 300

			.other-jury
				

				ul
					padding: 0
					margin-right: 20px
					margin-top: 20px
					li
						list-style: none
						display: inline-block
						margin-left: 15px
						a
							text-transform: uppercase
							color: #000

	.image-mobile-jury
		height: 275px
		width: 250px!important
		background-size: cover
		position: absolute
		bottom: 0
		right: 20px!important
		text-indent: -9999px
		z-index: 300 

		













