//result page
#main
	&.result
		background: #cbcccc
		border: 18px solid #dddf50
		.block-page-result
			background: #fff
			width: 70%
			height: 100%
			z-index: 100
			position: relative
			@media (max-width: $screen-md-max)
				width: 60%
			@media (max-width: $screen-xs-max)
				width: 100%
				padding-top: 30px
			.wraper-page-result
				padding: 10px
				.logo
					width: 100%
					text-align: center
					img
						width: 150px
				.top-categories
					width: 100%
					h2
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						color: #ea3981
						font-weight: 300
						font-style: italic
						font-size: 35px
						padding-left: 20px
					.wraper-categories
						border-top: 1px solid #000
						border-bottom: 1px solid #000
						padding: 15px 20px 0 20px
						@media (max-width: $screen-xs-max)
							padding: 15px 20px 0 0px
						ul
							display: inline-block
							vertical-align: top
							width: 33%
							padding-left: 10px
							@media (max-width: $screen-md-max)
								width: 100%
							li
								width: 95%
								font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
								color: #333132
								list-style: none
								background: url('../images/block.png') no-repeat left 2px
								background-size: 10px
								margin-bottom: 8px
								line-height: 15px
								vertical-align: top
								position: relative
								padding-left: 25px

				.list-winner-categories
					margin-top: 20px
					h3
						font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
						color: #ea3981
						font-size: 14px
						font-weight: bold
						text-transform: uppercase
						padding: 0 30px
						margin: 10px 0 4px 0
						padding: 15px 20px 0 0px
							padding: 0
					.wraper-block-winner
						padding: 0 0px 0px 30px
						border-top: 1px solid #adadad
						border-bottom: 1px solid #adadad
						@media (max-width: $screen-xs-max)
							padding: 0
						.main-winner
							width: 35%
							display: inline-block
							margin-right: 0px
							@media (max-width: $screen-md-max)
								width: 100%
						.other-winner
							width: 60%
							display: inline-block
							vertical-align: top
							padding-left: 30px
							border-left: 1px solid #adadad
							@media (max-width: $screen-md-max)
								width: 100%
								border: none
								padding-left: 0
							.detail-finalist
								p
									display: inline-block
									@media (min-width: 1720px)
										display: inline-block
						.detail-finalist
							display: inline-block
							width: 100%
							font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
							padding: 15px 0
							@media (max-width: $screen-xs-max)
								padding: 15px 0 0 0
							&.other
								width: 49%
								vertical-align: top
								@media (max-width: $screen-xs-max)
									width: 100%

							span
								display: inline-block
								color: #000
								padding: 0px
								text-transform: uppercase
								background: none
								display: inline-block
								vertical-align: top
								margin-top: 0px
								font-size: 15px
								&.winner
									display: inline-block
									color: #fff
									+transform( skew(-20deg))
									padding: 0px 12px
									text-transform: uppercase
									background: #ea3981
									display: inline-block
									vertical-align: top
									margin-top: 4px
									font-size: 11px
							p
								width: 70%
								display: inline-block
								font-size: 13px
								margin-left: 6px
								@media (max-width: $screen-xs-max)
									display: block



						
.skew-div-result
	height: 100%
	width: 330px
	left: 35%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	background: #ea3981
	+transform( skew(-20deg))
	@media (min-width: 1720px)
		width: 430px
	@media (max-width: $screen-xs-max)
		display: none

//
//sponsor page
//
.left-side-sponsor
	width: 50%
	left: 0
	height: 100%
	position: absolute
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
	
	.content

		.skew-div
			height: 100%
			width: 530px
			right: 0
			position: absolute
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
			background: #ffff03
			+transform( skew(-20deg))

			&:after
				content: ""
				position: absolute
				width: 297px
				right: -146px
				height: 180px
				background: url('../images/disturbe-logo.png') no-repeat
				background-size: cover
				+transform( skew(20deg))

			.title-page
				position: absolute
				left: 15px
				top: 40%
				height: 100px
				margin-top: -100px
				+transform( skew(20deg))


				h3
					color: #000
					font-size: 60px
					font-weight: 300
					font-style: italic
					margin-bottom: 0
					margin-top: 0
					text-align: left

.right-side-sponsor
	width: 50%
	right: 0
	height: 100%
	position: absolute

	.content
		position: absolute
		top: 110px
		width: 100%
		text-align: center
		@media (min-width: 1720px)
			top: 30%
		.sponsor-wraper
			width: 100%
			display: inline-block

			h3
				color: #535352
				text-transform: uppercase
				font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
				font-size: 12px
				margin-bottom: 2px
				margin-top: 2px
			ul
				padding: 0
				display: inline-block
				vertical-align: top
				margin-bottom: 10px

				&.titanium
					width: 170px
					display: block
					margin: 0 auto

					li
						img
							width: 70px
				&.strategic
					width: 590px
					margin: 15px 0 15px 0
					@media (min-width: 1720px) and (max-width: 2900px)
						width: 870px
						li
							width: 130px!important

					li
						width: 90px
						margin: 8px 0px
						img
							width: 100%
				&.brand
					width: 20%
					margin-top: -5px

				&.partner
					width: 80%
					padding-top: 20px
					text-align: center
					border-top: 1px solid #959595
					h3
						margin-bottom: 10px
					li
						
						h3
							font-size: 14px
							color: #535352
							text-transform: uppercase
							font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif


				li
					list-style: none
					display: inline-block



			




//mobile 
.mobile-page-sponsor
	background: #202020
	border: 18px solid #00fff6
	width: 100%
	height: 100%
	position: absolute
	padding: 18px
	@media (min-width: 500px) and (max-width: 750px)
		height: 650px
	@media (max-width: 325px)
		height: 800px


.mobile-skew-sponsor
	height: 90%
	width: 200px
	position: absolute
	+transform( skew(-20deg))
	z-index: 300
	background: #ffff03

.content-mobile
	position: absolute
	width: 100%
	height: 100%
	padding: 18px
	z-index: 300

	.logo-mobile-disturbe
		width: 100%
		text-align: center

		img
			width: 120px
			margin: 0 auto

	.content-text
		padding: 10px 20px
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
		h3
			color: #fff
			font-size: 30px
			font-weight: 300
			font-style: italic
			margin-bottom: 0
			margin-top: 0
			text-align: left
			margin-bottom: 10px
			margin-top: 0px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		.sponsor-wraper
			margin-top: 30px
			img
				width: 100%












		
			



